
@import "settings";

body {
  padding: 0 50px 0 50px;
}

h1 {
  font-size: 42px;
  line-height: 40px;
}

h2 {
  font-size: 26px;
  font-style: bold;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.93em;
}


.fixed {
  padding: 0 68px 0 67px;
}

.top-bar {
  border-bottom: 1px solid $primary-color;

  li {
    line-height: 75px;
  }
  li a {
    height: 74px;
  }
}

.name {
  color: #78C1E2;
  text-transform: uppercase;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5em;

  span {
    color: #f26e58;
  }

  .small-logo {
    display: none;
  }

  .smallest-logo {
    display: none;
  }

}

.item.hero {
  background:
    linear-gradient(
      rgba(120, 193, 226, 0.76),
      rgba(250, 91, 65, 0.54)
    ),
  url(../assets/west-tx-m.jpg);
  text-align: center;
  padding: 15%;
}

.item.hero h2 h3 {
    color: white !important;
  }

.portfolioFilter {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  letter-spacing: 0.2em;

  a {
    margin-right: 10px;
    text-decoration:none;
    color: $body-font-color;
    line-height: 3em;
  }

  a.current {
    font-weight:bold;
  }
}


.portfolioContainer {
  margin-bottom: 75px;
  max-width: 100%;

}


.about-content {
  border-top: 1px solid $primary-color;
  padding: 3%;
  margin: 0 20px 0 17px;
}

.circular-portrait {
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
  display: block;
  float: left;
  width: 170px;
}

.contact-content {
  border-top: 1px solid $primary-color;
  padding: 3%;
  margin: 0 20px 0 17px;

}


.reveal-modal {
  line-height: 1.5em;
}

@media (max-width: 850px) {
  .fixed {
    padding: 0 66px 0 67px;
  }
}

@media (max-width: 800px) {
  .name {
    .large-logo {
      display: none;
    }

    .small-logo {
      display: block;
    }

  }
}

@media (max-width: 650px) {
  .fixed {
    padding: 0;
  }

  .name {
    .small-logo {
      padding-left: 25px;
    }
  }
}

@media (max-width: 420px) {
  .name {
    .small-logo {
      display: none;
    }

    .smallest-logo {
      display: block;
      padding-left: 25px;
    }
  }

  body {
    padding: 0 10px 0 10px;
  }

  .fixed {
    padding: 0;
  }
}

@media (max-width: 350px) {
  body {
    padding: 0;
  }

  .item.hero {
    padding: 4%;
  }

}