
// @import "settings";

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-slab", serif;
  font-weight: 100;
}


.name {
  text-transform: uppercase;
  font-weight: bolder;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5em;
  padding-top: 10px;
  padding-left: 30px;

  a {
    color: rgba(128, 124, 158, 1);
  }

  span {
    color: #F78373;
  }

  .small-logo {
    display: none;
  }

  .smallest-logo {
    display: none;
  }

}

.about {
  padding: 3%;
  background: white;
}

.circular-portrait {
  -moz-border-radius: 170px;
  -webkit-border-radius: 170px;
  border-radius: 170px;
  border: 4px solid rgb(223, 228, 223);
  display: block;
  width: 129px;
  margin: 46px auto 46px auto;
}

main {
  background-image: url(../assets/hero-pattern.png);

  background-color: #f5f3f3;
  z-index: -200;
}


.portfolio-container {
  img {
    background: white;
    height: 230px;
    width: 230px;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }

}

.about h3 {
  margin-bottom: 15px;
}


footer {
  background: #3B3852;
  min-height: 100px;
  padding: 3%;

  p {
    font-size: 9px;
    text-transform: uppercase;
    color: #8D8AA7;
  }

  .social {

    ul {
      list-style: none;

      li {
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
      }

      a {
        display: inline-block;
        color: transparent;
        width: 35px;
        height: 35px;
      }

      #email {
        background-image: url(../assets/email-icon.svg);
      }

      #twitter {
        background-image: url(../assets/twitter-icon.svg);
      }

      #github {
        background-image: url(../assets/github-icon.svg);
      }

      #tumblr {
        background-image: url(../assets/tumblr-icon.svg);
      }

      #facebook {
        background-image: url(../assets/facebook-icon.svg);
      }

      #linkedin {
        background-image: url(../assets/linkedin-icon.svg);
      }

      #behance {
        background-image: url(../assets/behance-icon.svg);
      }

      #flickr {
        background-image: url(../assets/flickr-icon.svg);
      }



    } //end ul
  } //end .social
} //end footer




.reveal-modal .large-12 img {
  margin-bottom: 40px;
}
.reveal-modal {
  line-height: 1.5em;

  h3 {
    border-bottom: 1px solid #807c9e;
  }
}

.titlepanel {
  background: rgba(247, 250, 247, 0.43);
  width: 230px;
  height: 230px;
  position: absolute;
  overflow: hidden;
  margin: 10px;
  padding: 10px;

  -webkit-transition:opacity 0.2s ease;
  -moz-transition:opacity 0.2s ease;
  -o-transition:opacity 0.2s ease;
  transition:opacity 0.2s ease;

  &:hover {
  //Red(0-255), Blue(0-255), Green(0-255), Alpha (0-1)
      background-color:rgba(100,100,100,0);
      opacity:0;

  }
}



@media (max-width: 800px) {
  .name {
    .large-logo {
      display: none;
    }

    .small-logo {
      display: block;
    }

  }


}

@media (max-width: 650px) {


  .name {
    .small-logo {
      padding-left: 25px;
    }
  }
}

@media (max-width: 420px) {
  .name {
    .small-logo {
      display: none;
    }

    .smallest-logo {
      display: block;
      padding-left: 25px;
    }
  }

  .portfolio-container {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media (max-width: 350px) {

  .portfolio-container {
    margin-left: 35px;
    margin-right: 75px;
  }
}

