<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christina Day - Portfolio</title>
    <link rel="stylesheet" href="css/app.css" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/scss/syntax.css">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/app.css"
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>

    <!--Typekit-->
    <script type="text/javascript" src="//use.typekit.net/pgp5brb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    <!--HEADER AREA-->
    <!-- NAVIGATION AREA -->
    <header>

        <div class="fixed">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name"><a href="index.html" class="large-logo">Christina<span>Marie</span>Day</a><a href="index.html" class="small-logo">C<span>&bull;</span>Day</a><a href="index.html" class="smallest-logo">C<span>&bull;</span>D</a></li>
              <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li><a href="index.html#about">About</a></li>
                <li><a href="index.html">Portfolio</a></li>
<!--                 <li><a href="http://neonmoment.tumblr.com" target="blank">Blog</a></li>
 -->                <li><a href="index.html#contact">Contact</a></li>
              </ul>
            </section>
          </nav>
        </div>

    </header>

    <main  id="skrollr-body" data-0="background-position:0px 0px;" data-530="background-position:0px -250px;">


        <a name="portfolio"></a>


          <div class="row portfolio-container">

            <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">


              <li>
                <a href="#" data-reveal-id="firstModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-cupcake-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="secondModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/navya-sm.jpg"/>
                </a>
              </li>

              <li>
                  <a href="#" data-reveal-id="thirdModal" data-reveal>
                    <div class="titlepanel"></div>
                    <img src="assets/icons-rayguns-sm.jpg"/>
                  </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fourthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/mks-logo-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fifthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/kome-menuicons-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="sixthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/vespaio-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="seventhModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/cakeday-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="eighthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/rocket-hero-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="ninthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-popcicle.png"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="tenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-ramen-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="eleventhModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/raketbot-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twelfthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-leglamp-sm.jpg"/>
                </a>
              </li>


            </ul>

        </div><!--end .portfolio-container-->



      <div class="about">





          <div class="row">
          <a name="about"></a>
            <h3 class="large-12 columns">Hi! My name is Christina, and I have a passion for creating fun, beautiful, honest, and consistent experiences that span entire product systems.</h3>


                        <div class="large-2 columns">

                          <img class="circular-portrait" src="../assets/headshot.jpg" alt="portrait of christina" height="300">

                        </div>

                        <p class="large-5 columns">
                          With a multi-disciplinary background in both <a href="https://www.behance.net/gallery/18062353/Personal-Fugues">studio art</a> and interactive media, my work is drawn from the intersection of fine art values, craftsmanship, and technology. I approach each project with an open mind and a wide breadth of experience.

                          I spend most of my waking life between the Creative Suite and <a href="http://www.sublimetext.com/">Sublime Text</a>, but I am not afraid to take projects off the screen and into the real world with custom multimedia solutions.
                        </p>


                        <p class="large-5 columns">
                          I draw a lot of inspiration from my hobbies. When I’m not pushing pixels or <a href="https://github.com/ChristinaDay">Git commits</a>, you can find me hanging out with a corgi named Penny, planting flowers, seasoning cast iron pans, reading mid-century Japanese literature, tinkering with my Arduino, or playing my clarinet. Ideally all at the same time.
                        </p>



          </div><!--end .about-->
        </div>

    </main>

        <!-- FOOTER AREA -->
    <footer>

    <a name="contact"></a>

      <div class="row">

          <div class="large-10 columns social">
            <h3>Let's stay in touch</h3>
            <ul>
              <li>Email</li>
              <li>Twitter</li>
              <li>Flickr</li>
              <li>Tumblr</li>
              <li>Facebook</li>
              <li>LinkedIn</li>
              <li>Behance</li>
            </ul>
          </div><!--end .social-->

      </div><!--end .row-->

    </footer>

        <!--Reveal Modals Begin-->

        <div id="firstModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <img src="assets/icon-cupcake.png"/>
              <h3>Cupcake Icon</h3>
              <p></p>
            </div>
          </div>
        </div>

        <div id="secondModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/navya-composit.jpeg"/>
                <h3>Navya</h3>
                <p>I worked as Art and Branding Director for Navya, a skin care studio located on trendy East 6th Street. Working with Navya, I led the effort in creating branding for the company, including developing a new logo design, custom branding, coordinating the creation of their storefront signage and a custom website design. </br>
                <a href="http://www.navya-austin.com">www.navya-austin.com</a></p>
            </div>
          </div>
        </div>

        <div id="thirdModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/icons-rayguns.png"/>
                <h3>Raygun Icons</h3>
                <p>A few of my favorite rayguns</p>
            </div>
          </div>
        </div>

        <div id="fourthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/mks-logo.png"/>
                <img src="assets/mks-fb-ad.png"/>
                <h3>MakerSquare</h3>
                <p>I helped create the MakerSquare brand as their Lead Designer in both Austin and San Francisco. In this role I created their logo, I designed and painted the mural for their San Francisco location, I crafted numerous fliers, business cards, letterheads and banners for the business and was involved critically in most other design choices the company has made since. </br>
                <a href="http://www.makersquare.com">www.makersquare.com</a></p>
            </div>
          </div>
        </div>

        <div id="fifthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/menuicons.jpg"/>
                <img src="assets/kome-menu-display.jpg"/>
                <img src="assets/kome-happyhour.jpg"/>
                <img src="assets/dessert-layout.jpg"/>
                <h3>Komé Sushi Kitchen</h3>
                <p>Menu design and illustration</p>
            </div>
          </div>
        </div>

        <div id="sixthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/vespaio-m.jpg"/>
                <h3>Vespaio: Italian Restorante &amp; Vespaio: Enoteca</h3>
                <p>I worked as a Web Designer and Front-end Developer for these innovative sister-restaurants located on the popular South Congress strip. Part of the project included collaborating with expert photographer Paul Bardadgy to produce a series of stunning food and environment photos that became the background of the website design. </br>
                  <em>Note: I no longer develop or maintain this live website, <a href="http://www.austinvespaio.com">view at your own risk</a></em></p>
            </div>
          </div>
        </div>

        <div id="seventhModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <img src="assets/cakeday.png"/>
                <h3>Cake Day</h3>
                <p>Icon design for Cake Day - an interactive greeting card app for iOS. Learn more about Cake Day in the <a href="https://itunes.apple.com/us/app/cake-day-celebrate-birthdays/id506954153?mt=8">iOS App Store</a></p>
            </div>
          </div>
        </div>

              <div id="eighthModal" class="reveal-modal" data-reveal>
                <div class="row">
                  <a class="close-reveal-modal">&#215;</a>
                    <div class="large-12 columns">
                      <img src="assets/rocket-hero.jpg"/>
                      <img src="assets/rocket-web-design.png"/>
                      <h3>'Rocket' Illustration and Web Design</h3>
                      <p></p>
                  </div>
                </div>
              </div>



              <div id="ninthModal" class="reveal-modal" data-reveal>
                <div class="row">
                  <a class="close-reveal-modal">&#215;</a>
                    <div class="large-12 columns">
                      <img src="assets/icon-popcicle.png"/>
                      <img src="assets/icon-icecreams.png"/>
                      <img src="assets/icon-pizzaface.png"/>
                      <h3>Cute Food Icons</h3>
                      <p></p>
                  </div>
                </div>
              </div>

              <div id="tenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                  <a class="close-reveal-modal">&#215;</a>
                    <div class="large-12 columns">
                      <img src="assets/icon-ramen.png"/>

                      <h3>My favorite ramen</h3>
                      <p></p>
                  </div>
                </div>
              </div>

              <div id="eleventhModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <a class="close-reveal-modal">&#215;</a>
                      <div class="large-12 columns">
                        <img src="assets/raketconcept2.jpg"/>

                        <h3>Robot concept drawing</h3>
                        <p>Created for a community game design project</p>
                    </div>
                  </div>
              </div>

              <div id="twelfthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <a class="close-reveal-modal">&#215;</a>
                      <div class="large-12 columns">
                        <img src="assets/icon-leglamp.png"/>

                        <h3>Wishing it was Christmas</h3>
                        <p></p>
                    </div>
                  </div>
              </div>

              <div id="thirteenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/secrets-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3><em>Secrets</em></h3>
                      <p>Oil paint on canvas</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

              <div id="fourteenthModal" class="reveal-modal" data-reveal>
                <div class="row">
                    <div class="large-8 columns">
                      <img src="assets/ginza2-m.jpg"/>
                    </div

                    <div class="large-5 columns"
                      <h3><em>Ginza, Kyoto</em></h3>
                      <p>Canon AE-1</p>
                      <a class="close-reveal-modal">&#215;</a>
                    </div>
                </div>
              </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script src="js/mobiledetect.js"></script>
        <script src="js/app.js"></script>

        <script type="text/javascript">
          if (mobilecheck() == false) {
            skrollr.init();
          }
        </script>

        <script>
          $(document).foundation();
        </script>






      </body>
</html>
