<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christina Day - Portfolio</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>

    <!--Typekit-->
    <script type="text/javascript" src="//use.typekit.net/pgp5brb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  </head>
  <body>
    <!--HEADER AREA-->
    <!-- NAVIGATION AREA -->
    <header>
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name"><a href="index.html" class="large-logo">Christina<span>Marie</span>Day</a><a href="index.html" class="small-logo">C<span>&bull;</span>Day</a><a href="index.html" class="smallest-logo">C<span>&bull;</span>D</a></li>
        </ul>
      </nav>
    </header>

    <main id="skrollr-body" data-0="background-position:0px 0px;" data-530="background-position:0px -250px;">


        <a name="portfolio"></a>


          <div class="row portfolio-container">

            <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">

              <li>
                <a href="#" data-reveal-id="firstModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icons-robots-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="secondModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-daruma-sm.jpg"/>
                </a>
              </li>

              <li>
                  <a href="#" data-reveal-id="thirdModal" data-reveal>
                    <div class="titlepanel"></div>
                    <img src="assets/icon-ramen-sm.jpg"/>
                  </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fourthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icons-midcentury-furniture-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fifthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icons-rayguns-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="sixthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icons-academic-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="seventhModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-popcicle-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="eighthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-cupcake-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="ninthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icon-leglamp-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="tenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/rocket-hero-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="eleventhModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/mobile-mockup-bonsai-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twelfthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/bonsai-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="thirteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/atxnerdyladies-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fourteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/Blog-Article-Prototype-Mockup-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="fifteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/mks-logo-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="sixteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/kome-menuicons-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="seventeenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/cakeday-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="eightteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/navya-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="nineteenthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/vespaio-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentiethModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/pixel-people-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentyfirstModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/hatch-banner-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentysecondModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/raketbot-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentythirdModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/scheherazade-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentyfourthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/little-mermaid-sm.jpg"/>
                </a>
              </li>

              <li>
                <a href="#" data-reveal-id="twentyfifthModal" data-reveal>
                  <div class="titlepanel"></div>
                  <img src="assets/icarus-sm.jpg"/>
                </a>
              </li>

            </ul>

        </div><!--end .portfolio-container-->



      <div class="about">

          <div class="row">
          <a name="about"></a>
            <h3 class="large-12 columns">Hi! My name is Christina, I'm an illustrator, designer, and developer living and creating in San Francisco, CA.</h3>


                        <div class="large-4 columns">

                          <img class="circular-portrait" src="../assets/portrait2.jpg" alt="portrait of christina" height="300" style="margin-top:15px;">

                        </div>

                        <p class="large-4 columns">
                          Whether I am translating big concepts into approachable illustrations, evaluating design strategy, or providing hand-coded solutions, my work is informed by a background in studio art and a passion for discovery and exploration.
                        </p>

                        <p class="large-4 columns">
                          When I'm not in front of a monitor, I try to continue drawing and painting in my home studio. On weekends I can be seen cooking, drinking good beer, working on my latest personal project, and chilling with my dog.
                        </p>




          </div><!--end .about-->
        </div>

    </main>

        <!-- FOOTER AREA -->
    <footer>

    <a name="contact"></a>

      <div class="row">

          <div class="large-10 columns social">
            <h3>Let's stay in touch!</h3>
            <ul>
              <li><a id="email" href="mailto:christinamday@gmail.com">Email</a></li>
              <li id="twitter"><a href="http://twitter.com/christinaday">Twitter</a></li>
              <li id="github"><a href="http://github.com/ChristinaDay">GitHub</a></li>
              <li id="tumblr"><a href="http://neonmoment.tumblr.com">Tumblr</a></li>
              <li id="facebook"><a href="http://www.facebook.com/christinamarieday">Facebook</a></li>
              <li id="linkedin"><a href="http://www.linkedin.com/in/christinaday/">LinkedIn</a></li>
              <li id="behance"><a href="http://www.behance.net/christinaday">Behance</a></li>
              <li id="flickr"><a href="http://www.flickr.com/photos/christinaday/sets">Flickr</a></li>
            </ul>
            <p>Copyright © Christina Day, 2015<br/>
              View this project on <a href="https://github.com/ChristinaDay/christinaday.github.io">GitHub!</a></p>
          </div><!--end .social-->

      </div><!--end .row-->

    </footer>

        <!--Reveal Modals Begin-->

        <div id="firstModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Some little robots</h3>
              <p>Can you spot Robby from <a href="http://www.imdb.com/title/tt0049223/">Forbidden Planet</a>?</p>
              <img src="assets/icons-robots.png"/>
            </div>
          </div>
        </div>

        <div id="secondModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Daruma Icon</h3>
              <p>Working on filling-in that second eye.</p>
              <img src="assets/icon-daruma.png"/>
            </div>
          </div>
        </div>

        <div id="thirdModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Ramen Icon</h3>
              <p>Back in the day, I worked for a Japanese couple at an Izakaya in Austin, TX. My favorite employee-meal was shoyu ramen, complete with cha-shu pork, naruto (rolled fish-cake), and an aji-tama (marinated egg). I made this little diddy while watching my favorite ramen movie, <a href="https://www.youtube.com/watch?v=L9m6FoSw4jE">Tampopo!</a></p>
              <img src="assets/icon-ramen.png"/>
            </div>
          </div>
        </div>

        <div id="fourthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Iconic Furniture Icons</h3>
              <p>I'm buying all of these when I win the lottery.</p>
              <img src="assets/icons-midcentury-furniture.png"/>
            </div>
          </div>

        </div>

        <div id="fifthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Raygun Icons</h3>
                <p>One of my favorite indulgences is watching Sci-Fi B-movies on a Saturday morning.</p>
                <img src="assets/icons-rayguns.png"/>
            </div>
          </div>
        </div>

        <div id="sixthModal" class="reveal-modal" data-reveal>
          <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>Academic Icons</h3>
                  <p>Some assets from an internal project at <a href="http://www.makersquare.com">MakerSquare</a></p>
                  <img src="assets/icons-academic.png"/>
              </div>
            </div>
        </div>

        <div id="seventhModal" class="reveal-modal" data-reveal>
            <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>Cute Food Icons</h3>
                  <p>Some of my favorite food groups.</p>
                  <img src="assets/icon-popcicle.png"/>
                  <img src="assets/icon-icecreams.png"/>
                  <img src="assets/icon-pizzaface.png"/>
              </div>
            </div>
        </div>

        <div id="eighthModal" class="reveal-modal" data-reveal>
            <div class="row">
              <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Cupcake Icon</h3>
                <p>Guess what my weakness is.</p>
                <img src="assets/icon-cupcake.png"/>
              </div>
            </div>
        </div>

        <div id="ninthModal" class="reveal-modal" data-reveal>
          <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>Leg-lamp Icon</h3>
                  <p>Just in case I need to design something cheeky.</p>
                  <img src="assets/icon-leglamp.png"/>
              </div>
            </div>
        </div>

        <div id="tenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>'Rocket' Illustration and Web Design</h3>
                <p>An unused asset from a project that changed direction. We all loved this little drawing but decided to go with a different metaphor.</p>
                <img src="assets/rocket-hero.jpg"/>
                <img src="assets/rocket-web-design.png"/>
            </div>
          </div>
        </div>

        <div id="eleventhModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>'Bonsai' mobile</h3>
                <p>Experimenting with a mobile version of Bonsai's log/sign-in sequence, featuring an off-canvas Help & Support area.</p>
                <img src="assets/mobile-mockup-bonsai.png"/>
            </div>
          </div>
        </div>

        <div id="twelfthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Bonsai.io</h3>
                <p>I drove the visual rebranding of the company as their Lead Designer, creating illustrations, vector icons, webpage layout, brand identity, and other visual assets for their redeveloped website and other marketing materials.</p>
                <img src="assets/bonsai-home.jpg"/>
                <img src="assets/bonsai-home2.jpg"/>
                <img src="assets/bonsai-pricingplans2.jpg"/>
                <img src="assets/bonsai-pricingplans.jpg"/>
                <img src="assets/bonsai-trees1.jpg"/>
                <img src="assets/bonsai-tools1.jpg"/>
            </div>
          </div>
        </div>

        <div id="thirteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>ATX Nerdy Ladies</h3>
                <p>I had the privilege of collaborating with the likes of designer/developer/ "Queen of SASS" <a href="https://twitter.com/elyseholladay">Elyse Holladay</a>, letterer/logist <a href="https://twitter.com/haleymcmichael">Haley McMichael</a>, and the lovely <a href="https://twitter.com/cecycorrea">Cecy Correa</a> to create this website that brings nerdy Austin ladies together for learning and empowerment. Check it out at <a href="http://www.atxnerdyladi.es">www.atxnerdyladi.es</a>!</p>
                <img src="assets/atxnerdyladies.png"/>
                <img src="assets/atxnerdyladies-hero.png"/>

            </div>
          </div>
        </div>

        <div id="fourteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Blog Article Prototype</h3>
                <p>I designed and built a working prototype of a long-form blog article. This design is intended to compliment an index page that houses an archive of posts. Built with Foundation 5 and SCSS.<a href="http://www.christinamday.com/gr-blog-layout"> View it in action!</a></p>
                <img src="assets/Blog-Article-Prototype-Mockup-med.jpg"/>
                <img src="assets/Blog-Article-Prototype-Mobile-Mockup.jpg"/>

            </div>
          </div>
        </div>



        <div id="fifteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>MakerSquare</h3>
                <p>I crafted and now maintain MakerSquare’s branding as their Lead Designer in both Austin and San
                Francisco. In this role I developed their logo, designed and built the interior wall installations for
                their San Francisco location, developed a branding update and style guide in conjunction with the
                marketing team, crafted numerous fliers, business cards, letterheads and banners for the business
                and was involved critically in most design choices the company has made since its inception. </br>
                <a href="http://www.makersquare.com">www.makersquare.com</a></p>
                <img src="assets/mks-logo.png"/>
                <img src="assets/mks-logotype-whitebg.jpg"/>
                <img src="assets/mks-logotype-bluebg.jpg"/>
                <img src="assets/mks-logotype-greybg.jpg"/>
                <img src="assets/mks-fb-ad.png"/>
                <img src="assets/mks-sign-congress.jpg"/>
                <p>Our sign on Congress Avenue, Austin Texas, showing off the logo and our old wordmark, before it was redesigned by the lovely <a href="http://www.elyseholladay.com">Elyse Holladay</a>.</p>
            </div>
          </div>
        </div>

        <div id="sixteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Komé Sushi Kitchen</h3>
                <p>Remember when I mentioned that I used to wait tables at an Izakaya in Austin, TX? I later became their graphic designer! Here are some of our menu designs and illustrations. If your'e ever in Austin, be sure to check out <a href="http://www.kome-austin.com">Komé</a>.</p>
                <img src="assets/menuicons.jpg"/>
                <img src="assets/kome-menu-display.jpg"/>
                <img src="assets/kome-happyhour.jpg"/>
                <img src="assets/dessert-layout.jpg"/>
            </div>
          </div>
        </div>

        <div id="seventeenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Cake Day</h3>
                <p>Icon design for Cake Day - an interactive greeting card app for iOS. Learn more about Cake Day in the <a href="https://itunes.apple.com/us/app/cake-day-celebrate-birthdays/id506954153?mt=8">iOS App Store</a></p>
                <img src="assets/cakeday.png"/>
            </div>
          </div>
        </div>

        <div id="eightteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Navya</h3>
                <p>I worked as Art and Branding Director for Navya, a skin care studio located on trendy East 6th Street. Working with Navya, I led the effort in creating branding for the company, including developing a new logo design, custom branding, coordinating the creation of their storefront signage and a custom website design. <strong><em>*Note: I no longer develop or maintain this website, view at your own risk</strong></em></br>
                <a href="http://www.navya-austin.com">www.navya-austin.com</a></p>
                <img src="assets/navya-composit.jpeg"/>
            </div>
          </div>
        </div>

        <div id="nineteenthModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
              <div class="large-12 columns">
                <h3>Vespaio: Italian Restorante &amp; Vespaio: Enoteca</h3>
                <p>I worked as the chief Web Designer and Front-end Developer for the website redesign of these  innovative sister-restaurants located on the popular South Congress strip. Part of the project included collaborating with expert photographer Paul Bardadgy to produce a series of stunning food and environment photos that became the background of the website design. <strong><em>*Note: I no longer develop or maintain <a href="http://www.austinvespaio.com">this website</a>, view at your own risk</strong></em></p>
                <img src="assets/vespaio-m.jpg"/>
            </div>
          </div>
        </div>

        <div id="twentiethModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Pixel People</h3>
              <p>Creating some little pixel people for an internal project at <a href="http://www.makersquare.com">MakerSquare</a>.</p>
              <img src="assets/pixel-people.png"/>
            </div>
          </div>
        </div>

        <div id="twentyfirstModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Hatch</h3>
              <p>Created this multi-functional illustration for Hatch, a program ran by <a href="http://www.makersquare.com">MakerSquare</a> that teaches kids how to code.</p>
              <img src="assets/hatch-banner.png"/>
            </div>
          </div>
        </div>

        <div id="twentysecondModal" class="reveal-modal" data-reveal>
          <div class="row">
            <a class="close-reveal-modal">&#215;</a>
            <div class="large-12 columns">
              <h3>Robot concept drawing</h3>
              <p>Created for a community game design project</p>
              <img src="assets/raketconcept2.jpg"/>
            </div>
          </div>
        </div>

        <div id="twentythirdModal" class="reveal-modal" data-reveal>
          <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>Scheherazade</h3>
                  <p>Drawn for an editorial</p>
                  <img src="assets/scheherazade.jpg"/>
              </div>
            </div>
        </div>

        <div id="twentyfourthModal" class="reveal-modal" data-reveal>
          <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>The Little Mermaid</h3>
                  <p>a reimagining of the original story, created for <a href="http://www.conceptart.org">ConceptArt.org</a></p>
                  <img src="assets/little-mermaid.jpg"/>
              </div>
            </div>
        </div>

        <div id="twentyfifthModal" class="reveal-modal" data-reveal>
          <div class="row">
              <a class="close-reveal-modal">&#215;</a>
                <div class="large-12 columns">
                  <h3>Icarus</h3>
                  <p>a reimagining of the original story, created for <a href="http://www.conceptart.org">ConceptArt.org</a></p>
                  <img src="assets/icarus.jpg"/>
              </div>
            </div>
        </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script type="text/javascript" src="js/skrollr.min.js"></script>
        <script src="js/mobiledetect.js"></script>
        <script src="js/app.js"></script>

        <script type="text/javascript">
          if (mobilecheck() == false) {
            skrollr.init();
          }
        </script>

        <script>
          $(document).foundation();
        </script>






      </body>
</html>
